.left_div {
    height: 100vh;
    width: 20vw;
    margin-left: 0px;
    background-color: #9CBFDF;
}

.logo_block {
    height: 100px;
    width: 100%;
    display: flex;
}

.budget_info {
    margin-top: 40px;
    margin-left: 30px;
    font-family: Arial, sans-serif;
}

.date_input {
    margin-left: 40px;
    margin-top: 40px;
    height: 37px;
    width: 200px;
    border-radius: 10px;
    border-color: #CECECE;
    background-color: #FAF9F9;
    font-size: 18px;
    padding-left: 14px;
    
}


.search_input {
    margin-left: 40px;
    margin-top: 40px;
    height: 37px;
    width: 400px;
    border-radius: 10px;
    border-color: #CECECE;
    background-color: #FAF9F9;
    font-size: 18px;
    padding-left: 14px;
    
}

  .circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #86C94F;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    margin-top: 30px;
    margin-right: 120px;
  }

  .plus {
    width: 30px;
    height: 2px;
    background-color: white;
    position: absolute;
  }

  .plus-route {
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: white;
    transform: rotate(90deg);
  }

.save_list {
    width: 97%;
    margin-left: 40px;
    margin-top: 60px;
    border-collapse: collapse;
    font-size: 20px;
    font-family: Arial, sans-serif
}

th {
    text-align: left;
    padding: 0;
}

td {
    height: 80px;
    background-color: #F8F8F9;
    padding: 0;
    padding-bottom: 20px;
}